@tailwind base;
@tailwind components;
@tailwind utilities;

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 33vh;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 50%);
  z-index: -1;
}
